{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="product-detail">
        <h1>{{ product.name }}</h1>
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        <p>{{ product.description }}</p>
        <p>Price: {{ product.price }} $</p>
        <p>Artist: {{ product.artist }}</p>
        <p>Category: {{ product.category }}</p>
        <p>Created at: {{ product.created_at }}</p>
    </div>
    <form method="POST" action="{% url 'add_to_bag' product.id %}">
        {% csrf_token %}
        <input type="submit" value="Add to Bag">
        <input type="hidden" name="redirect_url" value="{{ request.path }}">
    </form>
{% endblock %}