{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="product-detail">
        <div>
            <h1>{{ product.name }}</h1>
            <hr>
            <p>Artist: {{ product.artist }}</p>
            <p>{{ product.description }}</p>
            <p>Price: {{ product.price }} $</p>
            <form method="POST" action="{% url 'add_to_bag' product.id %}">
                {% csrf_token %}
                <input type="submit" value="Add to Bag" class="submit-button">
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
        </div>
        <div>
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        </div>
    </div>
{% endblock %}