@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200&family=Montserrat:wght@200&family=Taviraj:wght@100&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    color: #151515;
    position: relative;
    font-weight: 900;
    font-size: 1rem;
    width: 90vw;
    margin-inline: auto; 
}


.logo {
    text-align: center;
    color: black;
    font-family: Taviraj, sans-serif;
    letter-spacing: 3px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

nav a:hover {
    border-bottom: 1px solid black;
}

img {
    max-width: 100%;
}

.grid {
    margin-top: 2em;
    padding: 1em;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1.5fr;
    text-align: center;
}

.img-grid {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2em;
        margin-inline: auto;
        margin-top: 2em;
    }

    .product {
        border: 1px solid black;
        border-radius: 15px;
    }


    .product img {
        width: 100%;
        height: auto;
        border-radius: 15px;
        padding-bottom: 0.3em;
    }

    .product-info {
        text-align: center;
    }

    .product-name {
        font-weight: bold;
    }

    .product-price {
        color: green;
    }

    .product-detail {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        padding-top: 2em;
    }

    .product-detail img {
        width: 60%;
    }

    .product-detail p {
        padding: 0.5em;
    }

    table {
        margin-inline: auto;
        border: 1px solid black;
        width: 500px;
    }

.checkout {
    
}

.checkout input {
    font-size: 1em;
    padding: 0.5em;
    width: 30vw;
}

.submit-button {
    padding: 1em;
    font-size: 1em;
    margin-top: 1em;
    border-radius: 10px;
    background-color: white;
}

.submit-button:hover {
    background-color: grey;
}




@media (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr;
    }
  
    .img-grid {
      grid-template-columns: 1fr;
    }

    .grid-container {
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    }

    .product-detail {
        grid-template-columns: 1fr;
    }
  }



/* footer and social media */

.social-networks {
    padding: 2em;
    display: flex;
}

